---
import Contact from '../components/Contact.astro'
import Description from '../components/Description.astro'
import Hero from '../components/Hero.astro'
import Projects from '../components/Projects.astro'
import Skills from '../components/Skills.astro'
import Layout from '../layouts/Layout.astro'
import '@fontsource-variable/outfit'
---

<Layout title='Ian Ortiz - Desarrollador web'>
  <main class='flex flex-col'>
    <Hero />
    <Description />
    <Skills />
    <Projects />
    <Contact />
  </main>
</Layout>
