---
import Githubicon from '../icons/Githubicon.astro'
import LinkedinIcon from '../icons/LinkedinIcon.astro'
import MailIcon from '../icons/MailIcon.astro'
import SocialPill from './SocialPill.astro'

const DATA = [
  {
    name: 'Linkedin',
    icon: LinkedinIcon,
    iconColor: 'text-blue-400',
    iconColorHover: 'group-hover:text-blue-600',
    href: 'https://www.linkedin.com/in/ian-nicolas-ortiz/'
  },
  {
    name: 'Github',
    icon: Githubicon,
    iconColor: 'text-neutral-300',
    iconColorHover: 'group-hover:text-cyan-900',
    href: 'https://github.com/ianEddie'
  },
  {
    name: 'ian-ortiz@hotmail.com',
    icon: MailIcon,
    iconColor: 'text-red-300',
    iconColorHover: 'group-hover:text-red-600',
    href: '#'
  }
]
---

<nav {...Astro.props}>
  {
    DATA.map((item) => (
      <div class='group '>
        <SocialPill href={item.href}>
          <item.icon class={`${item.iconColor} ${item.iconColorHover} icon`} />
          <span class='group-hover:text-neutral-900 font-semibold'>
            {item.name}
          </span>
        </SocialPill>
      </div>
    ))
  }
</nav>
<style>
  footer {
    font-family: 'Montserrat', sans-serif;
  }
  .icon,
  span {
    @apply transition-all duration-500 ease-in-out;
  }
</style>
