---
import Section from '../ui/Section.astro'
import ContactForm from './ContactForm.astro'
---

<Section
  id='contact'
  class='min-h-screen flex flex-col items-center pt-20 gap-y-5'
>
  <h1 class='text-[3em]'>Contacto</h1>
  <ContactForm />
</Section>
