---
import Contact from './Contact.astro'
import { Image } from 'astro:assets'
import Section from '../ui/Section.astro'
---

<Section
  id='description'
  class='flex justify-center items-center relative sm:mt-0 mt-10'
>
  <Image
    src='https://i.postimg.cc/5tXP3f9D/cat.webp'
    width='100'
    height='100'
    alt='cat'
    class='sm:flex hidden absolute left-[10%] image'
  />
  <Image
    src='https://i.postimg.cc/8P5NSrZv/character.webp'
    width='230'
    height='300'
    alt='cat'
    class='sm:flex hidden absolute right-10 image'
  />
  <article class='relative lg:w-1/2 w-full flex flex-col items-center'>
    <h1>Sobre mi</h1>
    <p
      class='mt-14 sm:text-[20px] lg:text-pretty text-balance px-8 font-text flex flex-col gap-y-2'
    >
      Soy ian, un desarrollador web apasionado y con habilidades solidas sobre
      front-end. Estoy listo para afrontar desafíos y contribuir al éxito de
      proyectos digitales. Me especializo en crear experiencias impactantes y
      funcionales, priorizando la innovación y la excelencia técnica.
      <span class='text-yellow-300 font-semibold tracking-wide'>
        Ofrezco soluciones eficientes y estéticamente atractivas.</span
      >
    </p>
    <Contact
      class='w-full mt-14 flex items-center flex-wrap justify-center gap-5'
    />
  </article>
</Section>
<style>
  h1 {
    @apply text-5xl tracking-[5px] text-neutral-100;
  }

  .image {
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
  }
  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 200px;
    }
    to {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>
