---
import Contact from './Contact.astro'
import PointIcon from '../icons/PointIcon.astro'
import Section from '../ui/Section.astro'
---

<Section id='description' class='flex justify-center items-center relative'>
  <img
    src='https://i.postimg.cc/0j7KP7Tw/character-2-0.webp'
    alt=''
    class='lg:h-[90%] lg:w-auto lg:absolute lg:flex left-10 hidden'
  />
  <article
    class='relative lg:w-1/2 w-full flex flex-col items-center lg:pt-20 pt-32'
  >
    <h1>Sobre mi</h1>
    <h3
      class='text-lime-300 absolute lg:top-0 top-10 right-0 flex items-center py-[2px] rounded-xl px-4 italic text-xl tracking-wide font-semibold'
    >
      <PointIcon />
      <span> Disponible</span>
    </h3>
    <p
      class='mt-14 font-semibold text-[20px] lg:text-pretty text-balance max-w-[90%]'
    >
      Soy ian, un desarrollador web apasionado y con habilidades solidas sobre
      front-end. Estoy listo para afrontar desafíos y contribuir al éxito de
      proyectos digitales. Me especializo en crear experiencias impactantes y
      funcionales, priorizando la innovación y la excelencia técnica.
      <br />
      <span class='text-amber-300 font-semibold'>
        Ofrezco soluciones eficientes y estéticamente atractivas.</span
      >
    </p>
    <Contact
      class='w-full mt-14 flex items-center flex-wrap justify-center gap-5'
    />
  </article>
</Section>
<style>
  h1 {
    @apply text-5xl tracking-[5px] text-neutral-100;
  }
  p {
    font-family: 'Montserrat', sans-serif;
  }
</style>
