---
import Form from './Form.astro'
import FooterContact from './FooterContact.astro'
import Title from '@/ui/Title.astro'
---

<footer
  id='contact'
  class='flex flex-col items-center gap-y-10 pb-10 font-text'
>
  <Title>Contacto</Title>
  <Form />
  <FooterContact />
</footer>
