---
import Form from './Form.astro'
import LinkedinIcon from '../icons/LinkedinIcon.astro'
import MailIcon from '../icons/MailIcon.astro'
import Whatsapp from '../icons/Whatsapp.astro'
---

<footer id='contact' class='flex flex-col items-center justify-center px-10'>
  <h1 class="mt-12">Contacto</h1>
  <Form />
  <nav class='flex gap-x-5 py-12'>
    <LinkedinIcon
      class='size-9 border-b pb-1 text-neutral-100 hover:text-blue-400 icon'
    />
    <MailIcon
      class='size-9 border-b pb-1 text-neutral-100 hover:text-red-400 icon'
    />
    <Whatsapp
      class='size-9 border-b pb-1 text-neutral-100 hover:text-green-400 icon'
    />
  </nav>
</footer>
<style>
  h1 {
    @apply text-4xl tracking-[5px] text-neutral-100;
  }
  .icon {
    @apply hover:-translate-y-1 cursor-pointer transition-all duration-300;
  }
</style>
