---
import Form from './Form.astro'
import FooterContact from './FooterContact.astro'
import style from '@/animations/animation.module.css'
---

<footer id='contact' class='h-screen flex flex-col items-center justify-between px-10 pb-10 pt-24'>
  <h1
    class={`${style.animation} text-5xl tracking-[5px] text-neutral-100`}
  >
    Contacto
  </h1>
  <Form />
  <FooterContact />
</footer>
