---
import Form from './Form.astro'
import FooterContact from './FooterContact.astro'
---

<footer
  id='contact'
  class='h-screen flex flex-col items-center justify-around sm:mt-28 mt-10 font-text'
>
  <h1 class='text-5xl tracking-[5px] text-neutral-100'>Contacto</h1>
  <Form />
  <FooterContact />
</footer>
