---
import Form from './Form.astro'
import FooterContact from './FooterContact.astro'
import style from '@/animations/animation.module.css'
---

<footer id='contact' class='flex flex-col items-center justify-center p-10'>
  <h1
    class={`${style.animation} mt-12 text-5xl tracking-[5px] text-neutral-100`}
  >
    Contacto
  </h1>
  <Form />
  <FooterContact />
</footer>
