---
import Button from '../ui/Button.astro'
---

<form>
  <div class='form__group field'>
    <input type='text' class='form__field' placeholder='Name' required />
    <label for='name' class='form__label'>Name</label>
  </div>
  <div class='form__group field'>
    <input type='email' class='form__field' placeholder='email' required />
    <label for='email' class='form__label'>E-mail</label>
  </div>
  <div class='col-span-2'>
    <label>Escriba su mensaje</label>
    <textarea
      class='bg-transparent border min-h-24 text-center py-1 font-semibold'
      required></textarea>
  </div>
  <div class='col-span-2 flex justify-center items-center'>
    <Button class='bg-stone-300 text-stone-900'>Enviar</Button>
  </div>
</form>
<style>
  form {
    font-family: 'Quicksand';
    @apply grid grid-cols-2 gap-10 mt-16;
  }
  div {
    @apply flex flex-col gap-y-2;
  }
  input {
    @apply bg-transparent border-b text-center py-1 font-semibold;
  }
  .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 1px solid #f5f5f4;
    outline: 0;
    font-size: 17px;
    color: #f5f5f4;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .form__field::placeholder {
    color: transparent;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #f5f5f4;
    pointer-events: none;
  }

  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 2px;
    border-image: linear-gradient(to right, #60a5fa, #0369a1);
    border-image-slice: 1;
  }

  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #e7e5e4;
    font-weight: 700;
  }

  /* reset input */
  .form__field:required,
  .form__field:invalid {
    box-shadow: none;
  }
</style>
