---
import { HEADER } from '@/lib/header-links'
import Logo from '../icons/Logo.astro'
import Background from '../ui/Background.astro'
---

<header id='header'>
  <!-- Logo -->
  <Logo />
  <!-- Toggle Action -->
  <label for='menu'></label>
  <input type='checkbox' id='menu' />
  <!-- nav -->
  <nav>
    <Background />
    <a href='#hero' class='sm:invisible visible'>Home</a>
    {HEADER.map((item) => <a href={item.href}>{item.title}</a>)}
  </nav>
  <!-- Footer -->
  <!-- Toggle Button  -->
  <div>
    <button>.</button>
  </div>
</header>
<style>
  /* Desktop */
  header {
    font-family: 'BrunoAce-Regular';
    @apply flex justify-between items-center lg:px-10 py-[5px] fixed z-40 w-full;
  }
  nav {
    @apply gap-x-3 flex items-center text-sm;
  }
  a {
    @apply px-3 py-[6px] rounded-2xl transition-all duration-300 flex items-center;
  }
  a:hover {
    @apply bg-indigo-950 text-amber-300 shadow-md shadow-neutral-950/50;
  }
  label,
  input,
  div {
    @apply hidden;
  }
  /* Phone */
  @media screen and (max-width: 600px) {
    header {
      @apply flex justify-between;
    }
    div {
      @apply flex justify-center items-center pr-2;
    }
    button {
      @apply w-10 z-30 transition-all duration-300 text-transparent h-full;
    }
    #menu:not(:checked) ~ div > button {
      background-image: url('https://i.postimg.cc/Dw1MBg4N/menu.webp');
      background-size: 80%;
      background-position: center center;
      background-repeat: no-repeat;
    }
    #menu:checked ~ div > button {
      background-image: url('https://i.postimg.cc/FKmnqLjH/close.webp');
      background-size: 80%;
      background-position: center center;
      background-repeat: no-repeat;
    }
    label {
      @apply flex w-10 h-full absolute z-40 top-0 right-2 cursor-pointer;
    }
    nav {
      clip-path: circle(0 at center);
      transition: clip-path 0.8s ease-in-out;
      @apply absolute top-0 right-0 w-full h-screen flex flex-col items-center justify-center gap-y-20 z-30;
    }
    button {
      @apply flex;
    }
    input:checked + nav {
      clip-path: circle(100% at center);
    }
  }
</style>
<script>
  // Obtener referencia a los enlaces dentro del menú
  const enlacesMenu = document.querySelectorAll('nav a')

  // Agregar event listener a cada enlace
  enlacesMenu.forEach((enlace) => {
    enlace.addEventListener('click', () => {
      // Cerrar el menú al hacer clic en un enlace
      const checkboxMenu = document.getElementById('menu') as HTMLInputElement
      checkboxMenu.checked = false
    })
  })
</script>
