---
import Logo from '../icons/Logo.astro'

const HEADER = [
  {
    title: 'Sobre mi',
    href: '#description'
  },
  {
    title: 'Proyectos',
    href: '#projects'
  },
  {
    title: 'Skills',
    href: '#skills'
  },
  {
    title: 'Contacto',
    href: '#contact'
  }
]
---

<header
  id='header'
  class='py-1 sticky px-10 top-0 z-10 w-full flex justify-between items-center'
>
  <Logo />
  <nav class='flex items-center justify-center gap-10 text-sm'>
    {HEADER.map(({ title, href }) => <a href={href}>{title}</a>)}
  </nav>
</header>
<style>
  nav {
    font-family: 'BrunoAce-Regular', sans-serif;
  }
  span {
    font-family: 'Slaytanic';
  }
</style>
