---
const HEADER = [
  {
    title: 'Sobre mi',
    href: '#description'
  },
  {
    title: 'Skills',
    href: '#skills'
  },
  {
    title: 'Proyectos',
    href: '#projects'
  },
  {
    title: 'Contacto',
    href: '#contact'
  }
]
---

<header id='header' class='py-3 sticky top-0 z-10 w-full'>
  <nav class='flex items-center justify-center gap-10'>
    {HEADER.map(({ title, href }) => <a href={href}>{title}</a>)}
  </nav>
</header>
