---
import Cv from './Cv.astro'
import Section from '../ui/Section.astro'
---

<Section class='h-screen grid lg:grid-cols-2 grid-cols-1' id='hero'>
  <!-- Info -->
  <article class='lg:w-auto w-full lg:mt-32 mt-16 flex flex-col items-center'>
    <h1>Ian Ortiz</h1>
    <h2 class='lg:text-[2em] text-2xl font-light text-neutral-100'>
      Desarrollador Web
    </h2>
    <Cv />
  </article>
  <!-- Image -->
  <picture class='flex justify-end pt-20'>
    <img
      src='https://i.postimg.cc/ZKZNXCW2/character-1-0.webp'
      alt='character image'
      class='aspect-square h-[90%]'
    />
  </picture>
</Section>
<style>
  h1 {
    font-family: 'Slaytanic';
    @apply text-yellow-400 text-[6em];
  }
  h2 {
    font-family: 'BrunoAce-Regular', sans-serif;
  }
</style>
