---
import Cv from './Cv.astro'
import Section from '../ui/Section.astro'
---

<Section class='flex relative lg:pt-32 pt-20 lg:pl-40 h-screen' id='hero'>
  <img
    src='https://i.postimg.cc/ZKZNXCW2/character-1-0.webp'
    alt='character image'
    class='absolute lg:top-14 lg:bottom-10 bottom-0 right-0'
  />
  <article class='lg:w-auto w-full flex flex-col items-center'>
    <h1>Ian Ortiz</h1>
    <h2>Desarrollador Web</h2>
    <Cv />
  </article>
</Section>
<style>
  h1 {
    font-family: 'Slaytanic';
    @apply text-yellow-400 text-[6em];
  }
  h2 {
    font-family: 'BrunoAce-Regular', sans-serif;
    @apply text-[2em] font-light text-neutral-100;
  }
</style>
