---
import Cv from './Cv.astro'
import Section from '../ui/Section.astro'
---

<Section class='flex relative pt-32 pl-40 h-screen' id='hero'>
  <img
    src='../../public/assets/characters/character-1.png'
    alt='character image'
    class='absolute top-5 right-0'
  />
  <article class='flex flex-col items-center'>
    <h1>Ian Ortiz</h1>
    <h2>Desarrollador Web</h2>
    <Cv />
  </article>
</Section>
<style>
  h1 {
    font-family: 'Slaytanic';
    @apply text-yellow-400 text-[6em];
  }
  h2 {
    font-family: 'BrunoAce-Regular', sans-serif;
    @apply text-[2em] font-light text-neutral-100;
  }
</style>
