---
import Section from '../ui/Section.astro'
import ProjectItem from './ProjectItem.astro'
import MarvelIcon from '../icons/MarvelIcon.astro'
import DmrIcon from '../icons/DmrIcon.astro'
const PROJECTS = [
  {
    id: '01',
    title: 'Marvel Comics',
    description:
      'Created from scratch with Next.js and Tailwind CSS. Its a library with SVG logos from the most popular brands. Optimized for SEO and performance.',
    icon: MarvelIcon,
    href: '#'
  },
  {
    id: '02',
    title: 'DMR',
    description:
      'Created from scratch with Next.js and Tailwind CSS. Its a library with SVG logos from the most popular brands. Optimized for SEO and performance.',
    icon: DmrIcon,
    href: '#'
  }
]
---

<Section class='min-h-[50vh] relative flex justify-center items-center'>
  <img
    src='../../public/assets/characters/character-4.webp'
    alt='character image'
    class='absolute left-10 h-2/3'
  />
  <article class='w-1/2 mt-20 flex flex-col items-center pb-20'>
    <h1 class='text-5xl tracking-[3px]'>Proyectos</h1>
    <div class='w-full mt-20 flex flex-col items-center justify-center gap-y-5'>
      {PROJECTS.map((project) => <ProjectItem data={project} />)}
    </div>
    <button
      class='bg-[#20B6FF]/50 mt-10 px-5 py-1 rounded-full shadow-xl shadow-indigo-800/80 text-lg'
      >+ Projects</button
    >
  </article>
</Section>
<style>
  article {
    font-family: 'Outfit Variable', sans-serif;
  }
</style>
