---
import { PROJECTS } from '@/lib/projects-data.astro'
import ProjectItem from './ProjectItem.astro'
import Section from '../ui/Section.astro'
---

<Section
  id='projects'
  class='sm:mt-24 mt-28 lg:px-0 px-5 relative gap-y-14 flex flex-col items-center'
>
  <h1 class='text-5xl tracking-[3px]'>Proyectos</h1>
  <!-- Projects -->
  <div
    class='flex sm:flex-row flex-col w-full items-center justify-center sm:gap-x-20 gap-x-0 gap-y-10'
  >
    {PROJECTS.map((project) => <ProjectItem data={project} />)}
  </div>
</Section>
