---
import Githubicon from '../icons/Githubicon.astro'
import WebIcon from '../icons/WebIcon.astro'
---

<div class='flex items-center justify-around gap-x-5 font-medium'>
  <span
    class='text-zinc-300 flex items-center justify-center gap-x-1 px-3 py-1 rounded-full bg-zinc-900/70 shadow-lg shadow-violet-900'
  >
    <WebIcon class='size-7 text-blue-500' />
    Visitar
  </span>
  <span
    class='text-zinc-300 flex items-center justify-center gap-x-1 px-3 py-1 rounded-full bg-zinc-900/70 shadow-lg shadow-violet-900'
  >
    <Githubicon class='size-7 text-violet-500' />
    Repositorio
  </span>
</div>
