---
import Section from '../ui/Section.astro'
import SkillList from './SkillsList.astro'
---

<Section id='skills' class='relative flex justify-center items-center'>
  <img
    src='../../public/assets/characters/character-3.png'
    alt='character image'
    class='h-full absolute right-10'
  />
  <article class='w-1/2 flex flex-col items-center py-20'>
    <h1 class='text-5xl tracking-[13px]'>Skills</h1>
    <SkillList />
  </article>
</Section>
