---
import { SKILLS } from '../lib/skills-data.astro'
import style from '@/animations/animation.module.css'
---

<ul class='mt-20 flex gap-x-10'>
  {
    SKILLS.map((skill) => (
      <li
        class={`${style.animation} flex flex-col items-center text-neutral-300 gap-y-1 font-semibold`}
      >
        <skill.icon class='size-14 text-purple-200' />
        {skill.title}
      </li>
    ))
  }
</ul>

