---
import Title from '@/ui/Title.astro'
import Section from '../ui/Section.astro'
import SkillList from './SkillsList.astro'
---

<Section id='skills' class='w-full flex flex-col items-center gap-y-10'>
  <Title>Skills</Title>
  <SkillList />
</Section>
